.noteFooter{
    display:flex;
    justify-content: space-between;

}
.characters{
    font-size: 11px;
    padding-top:20px;
}
.save{
    padding-top:15px;
    font-size: 13px;
    border:none;
    padding-bottom:0;
}