.Note-title{
    font-size: 12px;
    width: 100%;
    height:30px;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:5px;
}
button{
    padding:8px;
    background-color: rgb(235, 235, 235);
    border:1px solid rgb(148, 147, 147);
    border-radius: 5px;
    font-size: 12px;
}